.finance {
  $self: &;

  &__header-btn {
    svg {
      width: 16px;
      height: 16px;
      margin-right: $gutter * 2;
    }

    &:last-child {
      svg {
        fill: #fff;
      }
    }
  }

  &__title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 600;
  }

  &__info {
    display: grid;
    gap: $gutter * 6;
    grid-template-columns: 1fr 1fr;
  }

  &__left {
    grid-column: 1;
    grid-row: 1;
  }

  &__right {
    grid-column: 2;
    grid-row: 1;
  }

  &__bottom {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  &__select-wrapper {
    display: grid;
    grid-auto-flow: column;
    gap: $gutter * 2;
    align-items: center;
  }

  &__select {
    min-width: 352px;
  }

  &__table-1 {
    #{$self}__table-row {
      //grid-template-columns: repeat(4, 1fr);
      grid-template-columns: 1fr 217px 179px 1fr;
    }
  }

  &__table-2 {
    #{$self}__table-row {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__table-3 {
    #{$self}__table-row {
      //grid-template-columns: repeat(6, 1fr);
      grid-template-columns: 200px 90px 90px 90px 185px 1fr;
    }
  }

}

.finance-block {
  border: 1px solid $c-gray;
  border-radius: 8px;
  padding: $gutter * 3;

  display: grid;
  gap: $gutter * 6;
}
