.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  background: #0A1A31BF;
  visibility: hidden;
  opacity: 0;

  transition: all .8s ease 0s;

  &--open {
    visibility: visible;
    opacity: 1;
  }

  &--open .modal__content {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.modal__body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 30px 10px;

  @media (max-width: $lg) {
    padding: 0;
  }
}

.modal__content {
  position: relative;

  width: 360px;
  padding: 65px 45px;

  background-color: #fff;
  transform: translate(0, -100%);
  border-radius: 16px;
  opacity: 0;

  transition: all .8s ease 0;
}

.modal__close {
  position: absolute;
  top: -36px;
  right: -4px;

  width: 30px;
  height: 30px;

  border: 0;
  opacity: .8;

  @media (max-width: 360px) {
    right: 5px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;

    display: block;
    width: 100%;
    height: 2px;

    background-color: #c4c1b9;
  }

  &::after {
    transform: rotate(135deg);
  }

  &::before {
    transform: rotate(-135deg);
  }
}

.modal__wrap-btn {
  display: flex;
  align-items: center;

  @media (max-width: $md) {
    flex-wrap: wrap;
  }
}

.modal__btn {
  min-width: 205px;
  padding: 13px 26px;

  font-weight: 500;
  font-size: 13px;
  font-family: $ff-main;
  text-align: center;
  color: #fff;

  background-color: $c-accent;
  border-radius: 3rem;

  &[disabled] {
    opacity: .5;
  }
}

.modal__btn-text {
  margin-bottom: 0;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 24px;
  font-family: $ff-main;
  color: $c-main;
}
