.page-text {
  p, span, li {
    color: $c-main-45;
  }

  p {
    margin-bottom: $gutter * 9;

    @media (max-width: $md) {
      margin-bottom: $gutter * 6;
    }
  }

  b {
    font-weight: 600;
    color: $c-main-65;

    display: inline-block;
    margin-bottom: $gutter * 6;
  }

  &__content {
    margin-bottom: $gutter * 12;

    @media (max-width: $md) {
      margin-bottom: $gutter * 6;
    }
  }

  &__block {
    p {
      &:last-child {
        margin-bottom: $gutter * 6;
      }
    }
  }

  &__btn {
    max-width: 110px;
  }
}
