.scrollbar {
  $self: &;

  overflow: auto;
  scroll-behavior: smooth;

  // todo: добавить стили скролла для firefox
  //@include firefox {
  //  scrollbar-width: thin;
  //}

  &::-webkit-scrollbar-corner {
    background-color: hsla(0, 0%, 100%, 0);
  }

  &--is-fixed {
    margin-right: -$gutter * 0.5; // компенсация ширины скролла

    overflow-y: scroll;
  }

  //&--is-fixed#{$self} { // с хаком для фф теряется scoped, поэтому усилил селектор
  //  @include firefox {
  //    @include touchscreen {
  //      margin-right: 0;
  //    }
  //    margin-right: 0; // костыль для скролла фф, em не нужен
  //  }
  //}

  //&--outside {
  //  padding-right: 1px;
  //}

  &--vertical {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &--horizontal {
    overflow-x: auto;
    overflow-y: hidden;
  }

  //.body--not-scrollable & {
  //  overscroll-behavior: contain;
  //}

  //@include firefox {
  //  scrollbar-color: map_get($options, thumb-bg) map_get($options, bg);
  //}

  &::-webkit-scrollbar-thumb {
    background-color: $c-main-15;
    transition: color .2s;

    &:hover {
      background-color: $c-main-25;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 3px;
  }

  //&#{$base}--outside {
  //  margin-right: -1 * map_get($options, width);
  //}
}
