.section-header {
  $self: &;

  display: grid;
  grid-auto-flow: column;
  gap: $gutter * 4;
  align-content: center;

  &--mobile-row {
    @media (max-width: $sm) {
      grid-auto-flow: row;
    }
  }

  &--mb {
    margin-bottom: $gutter * 6;

    @media (max-width: $md) {
      margin-bottom: $gutter * 4;
    }
  }

  &__group {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: $gutter * 4;
    align-items: center;

    &:first-child {
      justify-self: start;
    }

    &:last-child {
      justify-self: end;

      #{$self}--mobile-row & {
        @media (max-width: $sm) {
          justify-self: start;
        }

        @media (max-width: $xs) {
          justify-self: auto;
          grid-column-gap: $gutter * 2;
        }
      }
    }
  }
}
