.form {
  display: flex;
  flex-direction: column;

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gutter * 4;

    @media (max-width: $xl) {
      grid-template-columns: 1fr;
      gap: $gutter * 2;
    }
  }

  &__bottom,
  &__footer {
    display: flex;
    align-items: center;
    padding-top: $gutter * 2;
    margin-top: $gutter * 2;
    border-top: 1px solid #D9D9D9;
  }

  &__bottom {
    justify-content: space-between;
  }

  &__footer {
    flex-direction: column;
  }

  &__column {
    &:last-child {
      position: relative;

      @media (max-width: $xl) {
        padding-top: $gutter * 2;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -$gutter * 2;
        background-color: #D9D9D9;
        width: 1px;
        height: 100%;

        @media (max-width: $xl) {
          width: 100%;
          height: 1px;
          left: 0;
        }
      }
    }
  }

  &__wrapper-input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__label {
    color: $c-main-88;
    position: relative;
    margin-right: $gutter;

    span {
      color: $c-accent;
      padding-left: 3px;
    }
  }

  &__input {
    padding: 5px $gutter;
    color: $c-main-88;

    border: 1px solid #D9D9D9;
    border-radius: 6px;
    min-width: 337px;

    &:disabled {
      background-color: #0000000A;
    }

    &::placeholder {
      color: $c-main-45;
    }
  }

  &__footer-checkbox {
    margin-bottom: $gutter * 2;
  }

  &__btn {
    width: 100%;
    min-width: 552px;
    border-radius: 8px;

    &:disabled {
      border: 1px solid #D9D9D9;
      background-color: #0000000A;
      color: $c-main-25;
    }
  }
}
