.btn {
  @extend .btn-reset;

  background-color: $c-accent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $gutter * 2 $gutter * 4;
  transition: .2s;

  font-size: 16px;
  line-height: 24px;
  color: #fff;

  &:hover,
  &:active {
    background-color: $c-accent-dark;
  }

  @media (max-width: $md) {
    padding: $gutter;
  }
}
