.dropdown {
  font-size: 14px;
  line-height: 22px;
  position: fixed;
  //top: calc(100% + 4px);
  //right: 0;
  width: 248px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.12);
  border-radius: 6px;

  opacity: 0;
  transform: scaleY(0.8);
  transform-origin: top;
  transition: opacity 0.15s linear, transform 0.15s linear;
  pointer-events: none;

  &--visible {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto;
  }

  &__select {
    padding: $gutter * 2;
  }

  &__actions {
    padding: $gutter * 2;
    border-top: 1px solid $c-main-6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gutter * 2;
  }
}
